<!DOCTYPE html>
<html lang="mk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_register.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
    <title>Најава</title>
</head>
<body>
<div class="container">
<div class="menu">
                 <div class="menu-items">
                    {% if 'user_id' in session %}
                        <p>Здраво, {{ session['name'] }}</p>
                         <a href="{{ url_for('home') }}">Почетна</a>
                        <a href="{{ url_for('my_profile') }}">Мој Профил</a>
                        <a href="{{ url_for('logout') }}">Одјави се</a>
                    {% else %}
                        <a href="{{ url_for('home') }}">Почетна</a>
                    {% endif %}
                 </div>
            </div>
    {% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="flash-messages">
      {% for message in messages %}
        <div class="alert">{{ message }}</div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}

    <form class="input-forms" method="POST" onsubmit="return validateLoginForm()">
        <label for="email">Емаил:</label><br>
        <input type="email" id="email" name="email"><br>

        <label for="password">Лозинка:</label><br>
        <input type="password" id="password" name="password" ><br>

        <button type="submit">Најави се</button>
    </form>

    <p>Немате профил? <a href="{{ url_for('register') }}">Регистрирај се</a></p>
    </div>
</body>
</html>
