<!DOCTYPE html>
<html lang="mk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Мој профил</title>
</head>
<body>
<div class="container">
    <div class="menu">
            <div class="menu-items">
                <a href="{{ url_for('home') }}">Почетна</a>
                {% if 'user_id' in session %}
                    <a href="{{ url_for('my_profile') }}">Мој профил</a>
                    <a href="{{ url_for('edit_profile') }}">Уреди профил</a>
                    <a href="{{ url_for('logout') }}">Одјави се</a>
                {% else %}
                    <a href="{{ url_for('login') }}">Најави се</a>
                    <a href="{{ url_for('register') }}">Регистрирај се</a>
                {% endif %}
            </div>
            <div class="item">
                <p class="item-right">Профил на {{ user['name'] }} {{ user['surname'] }}</p>
                <img src="{{ url_for('static', filename='images/' + session.get('profile_picture'or 'default_profile.jpeg')) }}"
                id="p-picture" alt="Профил слика">
            </div>
    </div>
    <h2>Омилени книги</h2>
    <section class="books-section">
        <div class="books-grid-profile">
            {% if favourite_books %}
                {% for book in favourite_books %}
                    <div class="book-item">
                        <div class="book-info">
                            <a href="{{ url_for('book_details', book_id=book['book_id']) }}">{{ book['title'] }}</a>
                            <form method="POST" action="{{ url_for('remove_favorite', book_id=book['book_id']) }}" >
                                <button type="submit" class="remove-button" onclick="return confirm('Дали сте сигурни дека сакате да ја отстраните книгата од омилените?')">Х</button>
                            </form>
                        </div>
                        <img src="{{ url_for('static', filename='images/' + book['book_cover_image']) }}" class="book-cover-profile" alt="Слика на книгата">
                    </div>
                {% endfor %}
            {% else %}
                <p>Немате омилени книги.</p>
            {% endif %}
        </div>
    </section>
    <div class="reviewed-books">
        <h2>Оценети книги</h2>
        {% if rated_books %}
          <ul>
            {% for book in rated_books %}
                <li>
                    <img src="{{ url_for('static', filename='images/' + book['book_cover_image']) }}" class="book-cover-profile" alt="Насловна на книгата">

                    <a href="{{ url_for('book_details', book_id=book['book_id']) }}">
                        <strong>{{ book['title'] }}</strong>
                    </a> - Оцена: {{ book['rating'] }}
                </li>
            {% endfor %}
          </ul>
        {% else %}
            <p>Немате оценето ниту една книга.</p>
        {% endif %}
    </div>
</div>
</body>
</html>
